name: Auto-update
on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
jobs:
  trigger:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git commit --allow-empty -m "trigger rebuild"
          git push
