name: Sync with upstream

on:
  schedule:
    - cron: "0 */6 * * *" # Toutes les 6 heures
  workflow_dispatch: # Permet aussi de lancer manuellement

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Sync fork with upstream
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
        run: gh repo sync "$REPO"
